.main {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 8px;
}

.hasJs {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.code {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: 1fr;
  gap: 16px;
}

.codeJS {
  gap: 0px;
}

.code pre {
  color: white;
  background-color: #333;
  border-radius: 3px;
  padding: 16px;
  margin: 0;
  font-family: inherit;
}

.code code {
  font-family: inherit;
}

.resultWrapper {
  display: grid;
  grid-template-rows: min-content;
}

.resultTitle {
  font-weight: bold;
  font-size: 16px;
  color: #333 !important;
}

.result {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 3px;
}
